# **Data Cleaning & Preprocessing**

## Objectives

* This notebook comprises the data cleaning and preprocessing steps necessary to ensure the data is in a suitable format for subsequent visualisations and analysis.

## Inputs
* Raw Dataset: `01_RAW_NEA-Seafloor-Litter.csv`. 

    This served as the initial data source.

## Outputs

* Processed Dataset: `02_PROCESSED_NEA-Seafloor-Litter.csv`. 

    This is the output file of the data cleaning and preprocessing operations.

## Additional Comments

* The preprocessing phase was conducted to ensure data integrity, address inconsistencies, and prepare the dataset for rigorous analysis. This included the removal of missing data, the standardisation of data types, and the elimination of extraneous variables, thereby enhancing the dataset's reliability and analytical utility.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/mahahussain/Desktop/NEA-Seafloor-Litter-Analysis/NEA-Seafloor-Litter-Analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/mahahussain/Desktop/NEA-Seafloor-Litter-Analysis/NEA-Seafloor-Litter-Analysis'

---

## 1.1 Extract: Importing Libraries & Extracting Dataset

This section involves:
- Importing the required libraries for data manipulation and subsequent operations.
- Loading the data from a CSV file into a Pandas DataFrame as the Pandas library contains helpful methods for loading, cleaning, and transforming data.

In [4]:
# Importing necessary libraries
'''
Importing necessary libraries
    1) Pandas: for data manipulation and analysis
    2) NumPy: for numerical operations
'''
import pandas as pd 
import numpy as np

After importing these libraries, load in the raw dataset using the `read_csv()` function.

In [5]:
# Read the dataset in with read_csv()
raw_df = pd.read_csv("data/01_RAW_NEA-Seafloor-Litter.csv")

# Verify successful operation
print("Dataset loaded successfully!")

Dataset loaded successfully!

**1.1 Evaluation:**

I chose to read the dataset using pd.read_csv() because it's a standard and efficient method for importing CSV files into a DataFrame in Python. 

I used the read_csv() function to load the raw data and verify its successful operation by printing a confirmation message. 

If I had more time, I could have explored different file formats or added parameters to handle specific edge cases (e.g., encoding issues or large file chunks). 

A limitation of this method is that it assumes the CSV file is correctly formatted, and it may not handle errors or inconsistencies in the data without additional checks or cleaning steps.

The dataset is correctly loaded and ready for further processing.

---

## 1.2 Understanding the Data

This section involves:
- Examining dataset structure and datatypes.
- Correcting incorrect data types.
- Identifying missing values.

### 1.2.1 Data Type Inspection

**In this subsection:**

A function is created to display the following:
- `data_frame.shape`  returns the dimensionality of the DataFrame.
- `info()` method to print data types and non-null counts for each column.
- `head()` method to display the first five rows for inspection.

In [6]:
def check_data_and_types(data_frame):
    """
    This function shows the type of data for each column and the first 5 rows of the dataset.

    Args: data_frame: The data frame we want to inspect.
    """

    print(" ----- Total Rows and Columns -----")
    print(data_frame.shape)
    print ('\n')

    print(" ----- Data Types -----")
    print(data_frame.info())
    print ('\n')
    
    print(" ----- First Five Rows -----")
    print(data_frame.head())

    

check_data_and_types(raw_df)

 ----- Total Rows and Columns -----
(4310, 62)


 ----- Data Types -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4310 entries, 0 to 4309
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               4310 non-null   int64
 1   survey             4310 non-null   object
 2   cruise             4310 non-null   object
 3   area               4033 non-null   object
 4   station            4310 non-null   int64
 5   fldHaulLatDegrees  4310 non-null   int64
 6   fldHaulLatMinutes  4052 non-null   float64
 7   fldHaulLonDegrees  4310 non-null   int64
 8   fldHaulLonMinutes  4052 non-null   float64
 9   fldHaulEorW        4057 non-null   object
 10  fldShotLatDegrees  3829 non-null   float64
 11  fldShotLatMinutes  3603 non-null   float64
 12  fldShotLonDegrees  3745 non-null   float64
 13  fldShotLonMinutes  3519 non-null   float64
 14  fldShotEorW        3519 non-null   object
 15  Latitude           4310 non-null   float64
 16  Longitude          4310 non-null   float64
 17  fldDateTimeShot    4310 non-null   object
 18  bottle             4310 non-null   int64
 19  sheet              4310 non-null   int64
 20  bag                4310 non-null   int64
 21  caps               4310 non-null   int64
 22  fishline.mono      4310 non-null   int64
 23  fishline.tang      4310 non-null   int64
 24  synthrope          4310 non-null   int64
 25  fishnet            4310 non-null   int64
 26  cabletie           4310 non-null   int64
 27  strap              4310 non-null   int64
 28  crates             4310 non-null   int64
 29  nappies            4310 non-null   int64
 30  santowels          4310 non-null   int64
 31  other.plas         4310 non-null   int64
 32  cansfood           4310 non-null   int64
 33  cansdrink          4310 non-null   int64
 34  fishmetal          4310 non-null   int64
 35  drums              4310 non-null   int64
 36  appliance          4310 non-null   int64
 37  carparts           4310 non-null   int64
 38  cables             4310 non-null   int64
 39  other.metal        4310 non-null   int64
 40  wellies            4310 non-null   int64
 41  balloon            4310 non-null   int64
 42  bobbins            4310 non-null   int64
 43  tyre               4310 non-null   int64
 44  gloves             4310 non-null   int64
 45  other.rub          4310 non-null   int64
 46  jars               4310 non-null   int64
 47  bottles            4310 non-null   int64
 48  pieces             4310 non-null   int64
 49  other.glass        4310 non-null   int64
 50  woodnat            4310 non-null   int64
 51  woodproc           4310 non-null   int64
 52  rope               4310 non-null   int64
 53  paper              4310 non-null   int64
 54  pallets            4310 non-null   int64
 55  other.wood         4310 non-null   int64
 56  clothing           4310 non-null   int64
 57  shoes              4310 non-null   int64
 58  other.misc         4310 non-null   int64
 59  totallitter        4310 non-null   int64
 60  distance           4310 non-null   int64
 61  wingspread         4310 non-null   int64
dtypes: float64(8), int64(48), object(6)
memory usage: 2.0+ MB
None


 ----- First Five Rows -----
   year survey     cruise               area  station  fldHaulLatDegrees  \
0  1992   IBTS  CIRO 9/92  Greater North Sea        1                 51
1  1992   IBTS  CIRO 9/92  Greater North Sea        2                 51
2  1992   IBTS  CIRO 9/92  Greater North Sea        3                 51
3  1992   IBTS  CIRO 9/92  Greater North Sea        4                 52
4  1992   IBTS  CIRO 9/92  Greater North Sea        5                 52

   fldHaulLatMinutes  fldHaulLonDegrees  fldHaulLonMinutes fldHaulEorW  ...  \
0               44.3                  1               45.2           E  ...
1               36.1                  2               47.8           E  ...
2               49.4                  3               38.6           E  ...
3               49.4                  2               45.6           E  ...
4               41.1                  3               24.7           E  ...

   rope  paper  pallets  other.wood clothing  shoes  other.misc totallitter  \
0     0      0        0           0        0      0           0           1
1     0      0        0           0        0      0           0           2
2     0      0        0           0        0      0           0           1
3     0      0        0           0        0      0           0           1
4     0      0        0           0        0      0           0           2

   distance  wingspread
0      3794           0
1      3918           0
2      3624           0
3      3642           0
4      3791           0

[5 rows x 62 columns]

**From this, we observe:**

- Numerical Columns: Columns like year, station, fldHaulLatDegrees, fldHaulLonDegrees, Latitude, Longitude, etc., are of numerical data types like int64 and float64.

- Categorical Columns: Columns like survey, cruise, area, and fldHaulEorW are of object type, which means they are categorical columns.

- Date/Time Columns: The fldDateTimeShot column is of object type, which might need conversion into a proper datetime format for analysis.

**What Needs to Be Changed?**

- Date Column (fldDateTimeShot): This column should be converted to a proper datetime type, as it is currently stored as an object (string). 

This will allow for easier manipulation and time-based analysis.

### 1.2.2 Date Format Conversion

In [7]:
# Convert the 'fldDateTimeShot' column to datetime
raw_df['fldDateTimeShot'] = pd.to_datetime(raw_df['fldDateTimeShot'], errors = 'coerce', dayfirst=True)

# errors = 'coerce' will convert any errors to blank values
# dayfirst = True will convert the date to the format 'dd/mm/yyyy'

print("Conversion successful!")

# Check the data types of the date column
raw_df['fldDateTimeShot'].dtypes

Conversion successful!

dtype('<M8[ns]')

`dtype('<M8[ns]') ` is a datetime format - conversion successful

### 1.2.3 Missing Value Identification

In this section:
- Use isna() to identify missing values.

In [8]:
def get_missing_values(data_frame):
    """
    This function returns the number of missing values in the dataset.

    Args: data_frame: The data frame we want to inspect.
    """
    missing_values = data_frame.isna().sum() # Get the number of missing values in each column
    print(missing_values[missing_values > 0]) # Only print columns with missing values

get_missing_values(raw_df)

area                 277
fldHaulLatMinutes    258
fldHaulLonMinutes    258
fldHaulEorW          253
fldShotLatDegrees    481
fldShotLatMinutes    707
fldShotLonDegrees    565
fldShotLonMinutes    791
fldShotEorW          791
dtype: int64

We can utilise this list to target missing values in the handling section

---

## 1.3 Handling Missing Data

This sectio covers: #TODO

### 1.3.1 Missing Area Data Imputation

ToDO:
- cross check, check area col w other cols, e.g., if all station x/survey x is sea A then we can impute it, else remove.
- if a row does not contain

AI tool: Github Copilot was used to generate a cross-checking function for area, it was then improved by ChatGPT to impute the rows with 1 asoc sea with the station.

In [9]:
def find_sea_by_station_and_impute(data_frame):
    """
    Imputes missing 'area' values based on station associations.
    Returns the modified DataFrame explicitly.
    """
    missing_area_rows = data_frame[data_frame['area'].isna()]  
    print(f"Initial missing values: {missing_area_rows.shape[0]}")  

    missing_areas_stations = missing_area_rows['station'].unique()  

    for station in missing_areas_stations:
        asoc_seas = data_frame[data_frame['station'] == station]['area'].dropna().unique()  

        if len(asoc_seas) == 1:
            sea_to_impute = asoc_seas[0]
            data_frame.loc[(data_frame['station'] == station) & (data_frame['area'].isna()), 'area'] = sea_to_impute
            print(f"Imputed {sea_to_impute} for Station {station}.")
        else:
            print(f"Station {station} has multiple or no sea associations.")

    print(f"Missing values after imputation: {data_frame['area'].isna().sum()}")  
    return data_frame  

# Call function and reassign raw_df
raw_df = find_sea_by_station_and_impute(raw_df)

# Verify successful operation
get_missing_values(raw_df)

Initial missing values: 277
Station 2 has multiple or no sea associations.
Station 3 has multiple or no sea associations.
Station 5 has multiple or no sea associations.
Station 6 has multiple or no sea associations.
Station 7 has multiple or no sea associations.
Station 8 has multiple or no sea associations.
Station 10 has multiple or no sea associations.
Station 11 has multiple or no sea associations.
Station 12 has multiple or no sea associations.
Station 14 has multiple or no sea associations.
Station 15 has multiple or no sea associations.
Station 16 has multiple or no sea associations.
Station 17 has multiple or no sea associations.
Station 18 has multiple or no sea associations.
Station 19 has multiple or no sea associations.
Station 21 has multiple or no sea associations.
Station 22 has multiple or no sea associations.
Station 23 has multiple or no sea associations.
Station 24 has multiple or no sea associations.
Station 26 has multiple or no sea associations.
Station 27 has multiple or no sea associations.
Station 28 has multiple or no sea associations.
Station 29 has multiple or no sea associations.
Station 30 has multiple or no sea associations.
Station 33 has multiple or no sea associations.
Station 34 has multiple or no sea associations.
Station 35 has multiple or no sea associations.
Station 37 has multiple or no sea associations.
Station 39 has multiple or no sea associations.
Station 40 has multiple or no sea associations.
Station 42 has multiple or no sea associations.
Station 44 has multiple or no sea associations.
Station 45 has multiple or no sea associations.
Station 46 has multiple or no sea associations.
Station 47 has multiple or no sea associations.
Station 48 has multiple or no sea associations.
Station 50 has multiple or no sea associations.
Station 51 has multiple or no sea associations.
Station 52 has multiple or no sea associations.
Station 53 has multiple or no sea associations.
Station 55 has multiple or no sea associations.
Station 56 has multiple or no sea associations.
Station 57 has multiple or no sea associations.
Station 58 has multiple or no sea associations.
Station 59 has multiple or no sea associations.
Station 61 has multiple or no sea associations.
Station 62 has multiple or no sea associations.
Station 64 has multiple or no sea associations.
Station 65 has multiple or no sea associations.
Station 66 has multiple or no sea associations.
Station 68 has multiple or no sea associations.
Station 69 has multiple or no sea associations.
Station 70 has multiple or no sea associations.
Station 72 has multiple or no sea associations.
Station 73 has multiple or no sea associations.
Station 74 has multiple or no sea associations.
Station 76 has multiple or no sea associations.
Station 77 has multiple or no sea associations.
Station 78 has multiple or no sea associations.
Station 79 has multiple or no sea associations.
Imputed Celtic Seas for Station 81.
Station 82 has multiple or no sea associations.
Station 83 has multiple or no sea associations.
Imputed Celtic Seas for Station 84.
Imputed Celtic Seas for Station 87.
Imputed Celtic Seas for Station 88.
Imputed Celtic Seas for Station 89.
Imputed Celtic Seas for Station 91.
Imputed Celtic Seas for Station 92.
Station 93 has multiple or no sea associations.
Station 95 has multiple or no sea associations.
Station 97 has multiple or no sea associations.
Station 98 has multiple or no sea associations.
Station 100 has multiple or no sea associations.
Station 102 has multiple or no sea associations.
Station 103 has multiple or no sea associations.
Station 104 has multiple or no sea associations.
Imputed Celtic Seas for Station 106.
Imputed Celtic Seas for Station 107.
Imputed Celtic Seas for Station 110.
Imputed Celtic Seas for Station 111.
Imputed Celtic Seas for Station 112.
Imputed Celtic Seas for Station 113.
Imputed Celtic Seas for Station 115.
Imputed Celtic Seas for Station 116.
Imputed Celtic Seas for Station 118.
Station 119 has multiple or no sea associations.
Imputed Celtic Seas for Station 120.
Imputed Celtic Seas for Station 121.
Station 123 has multiple or no sea associations.
Imputed Celtic Seas for Station 124.
Imputed Celtic Seas for Station 125.
Imputed Celtic Seas for Station 126.
Imputed Celtic Seas for Station 128.
Imputed Celtic Seas for Station 129.
Imputed Celtic Seas for Station 131.
Imputed Celtic Seas for Station 133.
Imputed Celtic Seas for Station 134.
Imputed Celtic Seas for Station 136.
Imputed Celtic Seas for Station 137.
Imputed Celtic Seas for Station 139.
Imputed Celtic Seas for Station 140.
Imputed Celtic Seas for Station 141.
Imputed Celtic Seas for Station 144.
Imputed Celtic Seas for Station 145.
Imputed Celtic Seas for Station 147.
Imputed Celtic Seas for Station 148.
Station 149 has multiple or no sea associations.
Imputed Celtic Seas for Station 151.
Imputed Celtic Seas for Station 152.
Imputed Celtic Seas for Station 154.
Station 155 has multiple or no sea associations.
Imputed Celtic Seas for Station 156.
Station 157 has multiple or no sea associations.
Imputed Celtic Seas for Station 158.
Imputed Celtic Seas for Station 160.
Imputed Celtic Seas for Station 161.
Imputed Celtic Seas for Station 162.
Imputed Celtic Seas for Station 163.
Imputed Celtic Seas for Station 164.
Station 166 has multiple or no sea associations.
Imputed Celtic Seas for Station 167.
Imputed Celtic Seas for Station 168.
Imputed Celtic Seas for Station 169.
Imputed Celtic Seas for Station 170.
Imputed Celtic Seas for Station 172.
Imputed Celtic Seas for Station 173.
Imputed Celtic Seas for Station 174.
Imputed Celtic Seas for Station 175.
Imputed Celtic Seas for Station 176.
Imputed Celtic Seas for Station 177.
Imputed Celtic Seas for Station 179.
Imputed Celtic Seas for Station 180.
Imputed Celtic Seas for Station 181.
Imputed Celtic Seas for Station 182.
Imputed Celtic Seas for Station 184.
Imputed Celtic Seas for Station 185.
Imputed Celtic Seas for Station 186.
Station 96 has multiple or no sea associations.
Missing values after imputation: 153
area                 153
fldHaulLatMinutes    258
fldHaulLonMinutes    258
fldHaulEorW          253
fldShotLatDegrees    481
fldShotLatMinutes    707
fldShotLonDegrees    565
fldShotLonMinutes    791
fldShotEorW          791
dtype: int64

In [10]:
get_missing_values(raw_df)

area                 153
fldHaulLatMinutes    258
fldHaulLonMinutes    258
fldHaulEorW          253
fldShotLatDegrees    481
fldShotLatMinutes    707
fldShotLonDegrees    565
fldShotLonMinutes    791
fldShotEorW          791
dtype: int64

### 1.3.2 Removal of Ambiguous Sea Area Entries

#TODO Now we can fill the remaining missing area's with "Unknown"

In [11]:
#Fill NaN values in 'area' with "Unknown"
raw_df['area'].fillna("Unknown", inplace=True)

# Verify successful operation
print(f"Missing area values after imputation: {raw_df['area'].isna().sum()}\n")

# Verify successful operation
get_missing_values(raw_df)

print("\n Missing area values filled successfully!")

Missing area values after imputation: 0

fldHaulLatMinutes    258
fldHaulLonMinutes    258
fldHaulEorW          253
fldShotLatDegrees    481
fldShotLatMinutes    707
fldShotLonDegrees    565
fldShotLonMinutes    791
fldShotEorW          791
dtype: int64

 Missing area values filled successfully!

We can see that `area` has been imputed successfully.

### 1.3.3 Remvoing Unnecessary Location Data

The `fld ...` columns exhibit a significant proportion of missing values. Given that one of the primary objectives of this project is to visualise the data, these columns will simply be removed with the exception of the date. 

Note that the `Latitude` and `Longitude` columns will be retained, as they are complete within the dataset, and are sufficient variables for spatial visualisations.

Removal of these columns as opposed to row deletion will minimise the data loss and streamline the dataset.

In [12]:
# Remove the fld columns 
cols_to_remove = [
    'fldHaulLatMinutes',
    'fldHaulLonMinutes',
    'fldHaulEorW',
    'fldShotLatDegrees',
    'fldShotLatMinutes',
    'fldHaulLatDegrees',
    'fldHaulLonDegrees',
    'fldShotLonDegrees',
    'fldShotLonMinutes',
    'fldShotEorW',
]

raw_df = raw_df.drop(columns=cols_to_remove, axis=1)

get_missing_values(raw_df)

Series([], dtype: int64)

### 1.3.4 Renaming DateTime column

In [13]:
# Rename fldDateTimeShot to 'datetime'
raw_df.rename(columns={'fldDateTimeShot': 'date'}, inplace=True)

---

## 1.4 Removing Duplicates

### 1.4.1 Duplicate Row Removal

In [14]:
# Remove duplicate rows
raw_df.drop_duplicates(inplace=True)

print(f"There are {raw_df.duplicated().sum()} duplicate rows in the dataset.")

There are 0 duplicate rows in the dataset.

---

## 1.5 Category Mapping

In order to faciliate the analysis of the marine litter composition, the items must first be categorised.

Utilising the information contained within the CEFAS data code book, the items were classified based on their primary materials.

The categories established were as follows:

- `Plastic:` This category includes items composed of synthetic polymers, encompassing bottles, sheets, bags, and various fishing-related plastics.

- `Metal:` This category includes items composed of metallic substances, such as cans, drums, and metal components from appliances.

- `Rubber:` Items made from natural or synthetic rubber, including boots, balloons, and tires, were classified within this category.

- `Glass:` Items composed of silica-based materials, such as jars, bottles, and glass fragments, were grouped within this category.

- ` Plant-Based Materials:` This category includes items derived from plant matter, encompassing both natural and processed wood, paper, and plant-based rope.

- `Clothing & Fabrics:` Textiles and related items, such as clothing and shoes, were classified within this category.

- `Miscellaneous:` This category served as a catch-all for items that did not readily fit into the aforementioned categories.

In [15]:
categories = {
    'Plastic': ['bottle', 'sheet', 'bag', 'caps', 'fishline.mono',
        'fishline.tang', 'synthrope', 'fishnet', 'cabletie',
        'strap', 'nappies', 'crates', 'santowels', 'other.plas'],

    'Metal': ['cansfood', 'cansdrink', 'fishmetal', 'drums',
        'appliance', 'carparts', 'cables', 'other.metal'],

    'Rubber': ['wellies', 'balloon', 'bobbins', 'tyre', 'gloves', 'other.rub'],

    'Glass': ['jars', 'bottles', 'pieces', 'other.glass'],

    'Plant-Based Materials': ['woodnat', 'woodproc', 'rope', 'paper', 'pallets', 'other.wood'],

    'Clothing & Fabrics': ['clothing', 'shoes'],

    'Miscellaneous': ['other.misc'],
}

##  1.6 Checking Numerical Data

### 1.6.1 Confirming Numerical Values

In [16]:
# Numerical Columns:
numerical_cols = raw_df.dtypes[raw_df.dtypes != 'object'].index.tolist()
print(numerical_cols)

['year', 'station', 'Latitude', 'Longitude', 'date', 'bottle', 'sheet', 'bag', 'caps', 'fishline.mono', 'fishline.tang', 'synthrope', 'fishnet', 'cabletie', 'strap', 'crates', 'nappies', 'santowels', 'other.plas', 'cansfood', 'cansdrink', 'fishmetal', 'drums', 'appliance', 'carparts', 'cables', 'other.metal', 'wellies', 'balloon', 'bobbins', 'tyre', 'gloves', 'other.rub', 'jars', 'bottles', 'pieces', 'other.glass', 'woodnat', 'woodproc', 'rope', 'paper', 'pallets', 'other.wood', 'clothing', 'shoes', 'other.misc', 'totallitter', 'distance', 'wingspread']

### 1.6.2 Verifying Latitude and Longitude

Latitudes should be between -90 and 90.
Longitudes should be between -180 and 180.

In [17]:

# Latitude and Longitude Columns:
print("the minumum latitude is: ", raw_df['Latitude'].min())
print("the maximum latitude is: ", raw_df['Latitude'].max())

print("the minumum longitude is: ", raw_df['Longitude'].min())
print("the maximum longitude is: ", raw_df['Longitude'].max())

the minumum latitude is:  48.045
the maximum latitude is:  61.57
the minumum longitude is:  -9.138666667
the maximum longitude is:  7.5355

## 1.7 Verifying Final Dataset

### 1.7.1 Checking for Missing Values - Final

In [22]:
# Check for missing values
missing = raw_df.isna().sum()

print("--- Missing Values ---")
print(missing[missing > 0].sum())

--- Missing Values ---
0

### 1.7.2 CheckingDataFrame shape - Final

In [21]:
# View shape of the dataset
print("\n --- Shape of the Dataset ---")
print(raw_df.shape)

 --- Shape of the Dataset ---
(4307, 52)

### 1.7.3 Checking DataFrame Head - Final

In [23]:
# First 5 rows of the dataset
print("\n --- First 5 Rows of the Dataset ---")
print(raw_df.head())

 --- First 5 Rows of the Dataset ---
   year survey     cruise               area  station   Latitude  Longitude  \
0  1992   IBTS  CIRO 9/92  Greater North Sea        1  51.738333   1.753333
1  1992   IBTS  CIRO 9/92  Greater North Sea        2  51.601667   2.796667
2  1992   IBTS  CIRO 9/92  Greater North Sea        3  51.823333   3.643333
3  1992   IBTS  CIRO 9/92  Greater North Sea        4  52.823333   2.760000
4  1992   IBTS  CIRO 9/92  Greater North Sea        5  52.685000   3.411667

        date  bottle  sheet  ...  rope  paper  pallets  other.wood  clothing  \
0 1992-08-14       0      0  ...     0      0        0           0         0
1 1992-08-15       0      0  ...     0      0        0           0         0
2 1992-08-15       0      0  ...     0      0        0           0         0
3 1992-08-16       0      0  ...     0      0        0           0         0
4 1992-08-16       1      0  ...     0      0        0           0         0

   shoes  other.misc  totallitter  distance  wingspread
0      0           0            1      3794           0
1      0           0            2      3918           0
2      0           0            1      3624           0
3      0           0            1      3642           0
4      0           0            2      3791           0

[5 rows x 52 columns]

### 1.7.4 Checking DataTypes - Final

In [24]:
# Data type check
print("\n --- Data Types ---")
print(raw_df.dtypes)

 --- Data Types ---
year                      int64
survey                   object
cruise                   object
area                     object
station                   int64
Latitude                float64
Longitude               float64
date             datetime64[ns]
bottle                    int64
sheet                     int64
bag                       int64
caps                      int64
fishline.mono             int64
fishline.tang             int64
synthrope                 int64
fishnet                   int64
cabletie                  int64
strap                     int64
crates                    int64
nappies                   int64
santowels                 int64
other.plas                int64
cansfood                  int64
cansdrink                 int64
fishmetal                 int64
drums                     int64
appliance                 int64
carparts                  int64
cables                    int64
other.metal               int64
wellies                   int64
balloon                   int64
bobbins                   int64
tyre                      int64
gloves                    int64
other.rub                 int64
jars                      int64
bottles                   int64
pieces                    int64
other.glass               int64
woodnat                   int64
woodproc                  int64
rope                      int64
paper                     int64
pallets                   int64
other.wood                int64
clothing                  int64
shoes                     int64
other.misc                int64
totallitter               int64
distance                  int64
wingspread                int64
dtype: object

### 1.7.5 Checking Category Dictionary - Final

In [28]:
# Category Dictionary
print("\n --- Categories ---")
for key, value in categories.items():
    print(f"{key}: {value}")

 --- Categories ---
Plastic: ['bottle', 'sheet', 'bag', 'caps', 'fishline.mono', 'fishline.tang', 'synthrope', 'fishnet', 'cabletie', 'strap', 'nappies', 'crates', 'santowels', 'other.plas']
Metal: ['cansfood', 'cansdrink', 'fishmetal', 'drums', 'appliance', 'carparts', 'cables', 'other.metal']
Rubber: ['wellies', 'balloon', 'bobbins', 'tyre', 'gloves', 'other.rub']
Glass: ['jars', 'bottles', 'pieces', 'other.glass']
Plant-Based Materials: ['woodnat', 'woodproc', 'rope', 'paper', 'pallets', 'other.wood']
Clothing & Fabrics: ['clothing', 'shoes']
Miscellaneous: ['other.misc']

In [29]:
# Nicer format
print("\n Marine Litter Categories:")
for category, items in categories.items():
    print(f"- {category}:")  # Add a dash and a space
    for item in items:
        print(f"  * {item}")  # Add two spaces and an asterisk

 Marine Litter Categories:
- Plastic:
  * bottle
  * sheet
  * bag
  * caps
  * fishline.mono
  * fishline.tang
  * synthrope
  * fishnet
  * cabletie
  * strap
  * nappies
  * crates
  * santowels
  * other.plas
- Metal:
  * cansfood
  * cansdrink
  * fishmetal
  * drums
  * appliance
  * carparts
  * cables
  * other.metal
- Rubber:
  * wellies
  * balloon
  * bobbins
  * tyre
  * gloves
  * other.rub
- Glass:
  * jars
  * bottles
  * pieces
  * other.glass
- Plant-Based Materials:
  * woodnat
  * woodproc
  * rope
  * paper
  * pallets
  * other.wood
- Clothing & Fabrics:
  * clothing
  * shoes
- Miscellaneous:
  * other.misc

In [30]:
processed_df = raw_df.copy()

## 1.8 Saving Cleaned & Processed Dataset

In [31]:
# Save the DataFrame to a new CSV file
processed_df.to_csv('data/02_PROCESSED_NEA-Seafloor-Litter.csv', index=False)